<!doctype html>
<html>
<head>
  <title>ClanChat</title>
  <script src="jquery-1.11.0.min.js"></script>
  <script src="application.js"></script>
  <link href="normalize.css" rel="stylesheet" />
  <link href="styles.css" rel="stylesheet" />
</head>
<body class="nojs">
  <h1>ClanChat</h1>
  <p>Welcome to ClanChat!</p>

  <form action="/chat" method="POST" id="chat_form">
    <input type="hidden" name="since" id="since" value="<%= Time.now().to_i %>" />
    <label for="username">Username</label><input id="username" type="text" name="username" value="<%= @username %>" />
    <div id="message_container">
      <input type="text" name="message" id="message" placeholder="Type your message here..." /><button name="submit" id="submit">Send</button>
    </div>
  </form>

  <ul class="chat">
    <% @lines.reverse.each do |line| %>
    <li>
      <span title="<%= pretty_timestamp_time(line[:timestamp]) %>">
        <span class="username">&lt;<%= line[:username] %>&gt;</span>
        <span class="message"><%= line[:message] %></span>
      </span>
    </li>
    <% end %>
  </ul>

</body>
</html>
